/* ===========================
   Global
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f7fc;
    color:#333;
}

/* ===========================
   Navbar
=========================== */

nav{
    background:#1e3a8a;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 50px;
}

nav h2{
    font-size:28px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    text-decoration:none;
    color:white;
}

nav a:hover{
    color:#ffd700;
}

/* Hamburger Menu */

.menu-toggle{
    display:none;
    font-size:30px;
    cursor:pointer;
    color:white;
}

/* ===========================
   Profile Section
=========================== */

.profile{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:50px 20px;
}

.profile-card{
    background:white;
    width:400px;
    padding:30px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 0 15px rgba(0,0,0,.2);
}

.profile-card img{
    width:170px;
    height:170px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid #1e3a8a;
    margin-bottom:20px;
}

.profile-card h2{
    color:#1e3a8a;
    margin-bottom:20px;
}

.profile-card p{
    margin:12px 0;
    font-size:18px;
}

.profile-card button{
    margin-top:25px;
    padding:12px 25px;
    border:none;
    border-radius:6px;
    background:#1e3a8a;
    color:white;
    cursor:pointer;
    font-size:16px;
}

.profile-card button:hover{
    background:#10286d;
}

/* ===========================
   Responsive
=========================== */

@media(max-width:768px){

    nav{
        flex-direction:column;
        gap:15px;
    }

    .menu-toggle{
        display:block;
        font-size:30px;
        cursor:pointer;
        color:white;
    }

    nav{
        flex-wrap:wrap;
        padding:15px 20px;
    }

    nav ul{
        display:none;
        width:100%;
        flex-direction:column;
        text-align:center;
        margin-top:15px;
    }

    nav ul.active{
        display:flex;
    }

    .profile-card{
        margin-top:10px;
    }

}

/* //edit button */

#editForm input{

width:100%;
padding:10px;
margin-top:10px;
border:1px solid #ccc;
border-radius:5px;
font-size:16px;

}

#saveBtn{

background:green;
color:white;
border:none;
padding:12px 20px;
border-radius:5px;
cursor:pointer;

}

#saveBtn:hover{

background:darkgreen;

}

.profile h1{
    font-size:45px;
    color:#1e3a8a;
    margin-bottom:30px;
    text-align:center;
}
#imageUpload{

    margin-top:15px;

}

/* Certificate Section */

.certificate-box{

    margin-top:25px;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);

}

.certificate-box h3{

    color:#1e3a8a;

}

#certificateList{

    list-style:none;
    padding:0;
    margin-top:15px;

}

#certificateList li{

    padding:10px;
    margin-bottom:10px;
    background:#f4f7fc;
    border-left:5px solid #1e3a8a;
    border-radius:5px;

}