#toast{

    position:fixed;

    top:20px;

    right:20px;

    background:#1e3a8a;

    color:white;

    padding:15px 25px;

    border-radius:8px;

    box-shadow:0 0 10px rgba(0,0,0,.3);

    display:none;

    z-index:9999;

    font-size:16px;

    animation:slideIn .4s ease;

}

@keyframes slideIn{

from{

opacity:0;

transform:translateX(100px);

}

to{

opacity:1;

transform:translateX(0);

}

}