*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f7fc;
}

nav{
    background:#1e3a8a;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

.dashboard{

    padding:60px;
    text-align:center;

}

.dashboard h1{

    color:#1e3a8a;
    margin-bottom:40px;

}

.dashboard-container{

    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;

}

.dashboard-card{

    width:280px;
    background:white;
    padding:35px;
    border-radius:12px;
    box-shadow:0 0 15px rgba(0,0,0,.2);
    transition:.3s;

}

.dashboard-card:hover{

    transform:translateY(-8px);

}

.dashboard-card h2{

    color:#1e3a8a;
    font-size:40px;

}

.dashboard-card p{

    margin-top:15px;
    font-size:18px;

}